
.button {
    font: inherit;
    color: greenyellow;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    font-size: 40px;
    border: 5px solid rgb(116, 218, 33);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.disbutton {
    font: inherit;
    color: red;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    font-size: 40px;
    border: 5px solid red;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.button:active {
    box-shadow: 3px 3px 50px 0 plum;
}

.disbutton:active {
    box-shadow: 1px 1px 50px 0 red;
}
