.gmonitor {
    border: 5px solid rgb(116, 218, 33);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    /*background-color: black;*/
    font-size: 70px;
    color: greenyellow;
    margin: 0px 0px 7px 0px;
}

.rmonitor {
    border: 5px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    /*background-color: black;*/
    font-size: 70px;
    color: red;
    margin: 0px 0px 7px 0px;
}