.divmain {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 250px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.butmon {
    border: 5px solid rgb(116, 218, 33);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    /*background-color: black;*/
    font-size: 70px;
    color: greenyellow;
    margin: 0px 0px 7px 0px;
}


.but {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*border-radius: 10px;*/
    /*background-color: black;*/
    /*margin: 0px 0px 7px 0px;*/
}



.inputs {
    height: 40px;
    border: 5px solid rgb(116, 218, 33);
    border-radius: 10px;
    text-align: center;
    /*font-size: 50px;*/

    /*font: inherit;*/
    color: greenyellow;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    font-size: 40px;
    margin: 5px;
    width: 130px;
}

.inputs:focus {
    box-shadow: 3px 3px 50px 0 plum;
}

.incont {
    display: flex;
    flex-direction: column;
    color: greenyellow;
    font-size: medium;
    text-align: center;
    min-width: 50px;
}
