.divmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 280px;
    margin: 0px 10px;
}

.butmon {
    /*border: 5px solid rgb(116, 218, 33);*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    /*background-color: black;*/
    font-size: 70px;
    color: greenyellow;
    margin: 0px 0px 7px 0px;
}


.but {
    display: flex;
    justify-content: space-between;
    /*flex-direction: row;*/
    width: 100%;
    height: 35%;
}

.inputs {
    outline: 0;
    display: flex;
    border: 5px solid rgb(116, 218, 33);
    border-radius: 10px;
    text-align: center;
    color: greenyellow;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    font-size: 40px;
    width: 130px;
}

.inputs:focus {
    box-shadow: 3px 3px 50px 0 plum;
}

.incont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: greenyellow;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 25px;
}

